<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<remove name="WebDAV" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\WebApiCore.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="500000000" maxUrl="100000" maxQueryString="500000" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 3778f64e-c40a-4cac-a3b1-9d70078f36e7-->